@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 72px;
}

h1 {
  font-size: 64px;
  line-height: 96px;
  color: #650300;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  color: #650300;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.header {
  background: #aa0601;
}
.header .headerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .headerbox a {
  text-decoration: none;
}
.header .headerbox img {
  width: 80px;
  height: 72px;
  padding: 12px 0px;
}
.header .headerbox .headerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .headerbox .headerlist li {
  margin-left: 64px;
}
.header .headerbox .headerlist li a {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}

/*--以上為header scss--*/
.footer {
  background: #aa0601;
}
.footer .footerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff;
}
.footer .listbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .listbox .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}
.footer .listbox .page li {
  margin-right: 48px;
}
.footer .listbox .page a {
  color: #fff;
  text-decoration: none;
}
.footer .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
}
.footer .sns li {
  margin-left: 16px;
}
.footer .sns img {
  width: 48px;
  height: 48px;
}
.footer .tel {
  padding-top: 36px;
  padding-bottom: 32px;
}
.footer .tel span {
  color: #fff;
  font-size: 36px;
  line-height: 54px;
  margin-right: 20px;
}
.footer .co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 32px 0px;
}
.footer .co span {
  font-size: 16px;
  line-height: 24px;
}
.footer .co .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .co .service .privacy {
  margin-right: 48px;
}
.footer .co .service p {
  font-size: 14px;
}

.banner {
  height: 787px;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-size: cover;
  background-position: center;
}
.banner span {
  color: #650300;
}
.banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 296px;
}
.banner .title span {
  font-size: 36px;
  line-height: 54px;
}
.banner .title p {
  display: block;
  padding: 6px 12px;
  background: #aa0601;
  color: #fff;
}

.introduction {
  text-align: center;
  background: #fbf2f2;
  padding: 80px 0px;
}
.introduction h3 {
  padding: 24px 0px;
}
.introduction img {
  max-width: 100px;
  height: 100px;
}
.introduction p {
  text-align: left;
}
.introduction .introbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.introduction .introbox li {
  max-width: 23.6%;
  margin-left: 24px;
  padding-top: 32px;
}

/* 以上為introduction CSS*/
.classic {
  padding: 80px 0px;
  text-align: center;
}
.classic h2 {
  padding-bottom: 48px;
}
.classic .classicbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.classic .classicbox li {
  max-width: 32.2%;
  padding-bottom: 24px;
}
.classic .classicbox span {
  color: #aa0601;
  padding-top: 8px;
  font-weight: bold;
}

.brand {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0px;
}
.brand h2 {
  color: #fff;
  padding-bottom: 48px;
}
.brand span {
  display: block;
  padding: 8px;
  color: #aa0601;
  font-weight: bold;
}
.brand .brandbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brand .brandbox li {
  max-width: 50%;
  background: #fff;
}
.brand .brandbox li .smp {
  display: none;
}

.guest {
  padding: 80px 0px;
}
.guest h2 {
  text-align: center;
  padding-bottom: 48px;
}
.guest img {
  padding-bottom: 8px;
}
.guest p {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}
.guest .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.guest .comment li {
  max-width: 24%;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
}
.guest .comment li .date {
  color: #707070;
  padding-top: 72px;
  padding-bottom: 16px;
}

.opinion {
  background: #fbf2f2;
}
.opinion h2 {
  text-align: center;
  color: #650300;
  padding-top: 80px;
  padding-bottom: 48px;
}
.opinion .container {
  max-width: 636px;
}
.opinion ul {
  padding-top: 8px;
}
.opinion ul li {
  padding-top: 16px;
}
.opinion ul .box {
  height: 36px;
  border: 1px solid #000;
  margin-top: 8px;
}
.opinion ul .box p {
  margin-left: 12px;
  color: gray;
}
.opinion ul .box2 {
  height: 136px;
  border: 1px solid #000;
  margin-top: 8px;
  margin-bottom: 16px;
}
.opinion ul .box2 p {
  margin-left: 12px;
  color: gray;
}
.opinion .agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.opinion .agree div {
  background: #fff;
  width: 24px;
  height: 24px;
  padding-left: 20px;
  border: 2px solid #000;
}
.opinion .agree p {
  padding-left: 4px;
}
.opinion .send {
  margin: 0 auto;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 80px;
  max-width: 416px;
}
.opinion .send a {
  background: #aa0601;
  display: block;
  color: #fff;
  padding: 16px 0px;
}

.sectionlist {
  max-width: 1296px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}
.sectionlist a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.sectionlist li:hover {
  border-bottom: 8px solid #aa0601;
}
.sectionlist .category {
  border-left: 0.5px solid #dcdcdc;
  border-right: 0.5px solid #dcdcdc;
  width: 100%;
  padding: 24px 0px;
  font-size: 32px;
  line-height: 48px;
}

.section-banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*以上為section scss*/
.product .product-title {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 32px;
}
.product .product-title h2 {
  color: #000;
  font-size: 32px;
  line-height: 48px;
}
.product .product-title span {
  line-height: 63px;
}
.product .glasses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .glasses span {
  font-size: 24px;
  line-height: 36px;
}
.product .glasses .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .glasses .name .price {
  color: #aa0601;
}
.product .glasses li {
  max-width: 23.7%;
}
.product .glasses .color ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 80px;
}
.product .glasses .color ul .item1 {
  background: #5f3e2d;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
}
.product .glasses .color ul .item2 {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #b75929;
}

.pagination {
  padding: 80px 0px;
}
.pagination a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
}
.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination ul li {
  border: 1px solid #555555;
}
.pagination ul .page {
  padding: 12px 16px;
}
.pagination ul .back {
  padding: 11px 12px;
}
.pagination ul .next {
  padding: 11px 12px;
  background: #f2f2f2;
}
.pagination ul li:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1400px) {
  .container {
    padding: 0px 20px;
  }

  .product {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product .glasses {
    padding: 0px 20px;
  }
  .product .glasses li {
    max-width: 30%;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0px 36px;
  }

  .banner {
    background-image: none;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  }

  .introduction .introbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .introduction .introbox li {
    margin: 0;
    max-width: 45%;
  }

  .classic .classicbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .classic .classicbox li {
    max-width: 100%;
    margin: 0px 180px;
  }

  .brand {
    height: 100vh;
    background-image: none;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
    background-size: cover;
  }
  .brand .brandbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .brand .brandbox li {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .guest .comment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .guest .comment li {
    max-width: 48.3%;
  }

  /*首頁RWD*/
  .section-banner {
    height: 30vh;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true"), url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left top, right top;
  }
  .section-banner img {
    display: none;
  }

  .product .glasses li {
    max-width: 48%;
  }

  .footer .container .page {
    font-size: 16px;
  }
  .footer .container .sns img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 725px) {
  .container {
    padding: 0;
    max-width: 725px;
  }

  .header .headerbox {
    padding: 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .headerbox .headerlist {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .headerbox .headerlist li {
    margin-left: 0px;
    width: 50%;
    border: 1px solid #fff;
    text-align: center;
  }
  .header .headerbox .headerlist li a {
    display: block;
    padding: 12px 60px;
    font-size: 16px;
    line-height: 24px;
  }

  /*表首RWD*/
  .banner {
    height: 50vh;
    padding: 0px 12px;
  }
  .banner .title {
    padding-top: 144px;
  }
  .banner .title h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .banner .title span {
    font-size: 16px;
    line-height: 24px;
  }

  .introduction {
    padding: 0px 12px;
    padding-bottom: 40px;
  }
  .introduction h2 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
  }
  .introduction .introbox li {
    max-width: 100%;
  }

  .classic {
    padding: 0px 12px;
  }
  .classic .classicbox li {
    max-width: 100%;
    margin: 0;
  }

  .brand {
    padding: 40px 12px;
    background-image: none;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
    background-size: cover;
  }
  .brand h2 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 24px;
  }
  .brand .brandbox li .lgp {
    display: none;
  }
  .brand .brandbox li .smp {
    display: inline;
  }

  .guest {
    padding: 0px 12px;
  }
  .guest .comment {
    margin-bottom: 40px;
  }
  .guest .comment li {
    margin-bottom: 16px;
    max-width: 100%;
  }

  .opinion .container {
    padding: 0px 12px;
  }

  /*以上為首頁RWD*/
  .section .category {
    font-size: 16px;
  }

  .product .product-title span {
    font-size: 24px;
    line-height: 36px;
  }
  .product .product-title h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .product .glasses li {
    max-width: 100%;
  }

  .footer {
    padding: 0px 12px;
  }
  .footer .listbox {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .listbox .page {
    height: 0px;
    width: 0px;
    display: none;
  }
  .footer .listbox .tel span {
    font-size: 16px;
    line-height: 24px;
    margin-right: 8px;
  }
  .footer .connect .sns img {
    max-width: 24px;
    height: 24px;
  }
  .footer .co {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer .co .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}